<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iunigo - iuniTips </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <header>
        <div class="container main text-center  ">
            <div class="row  mb-3  ">
                <div class="col-4">
                    <img src="menu.png" alt="" class="barra">
                </div>
                <div class="col-4">
                    <img src="https://res.cloudinary.com/iunigo/image/upload/v1553707618/logos/logo-iunigo.svg"
                        alt="Logo iúnigo" class="logo">
                </div>
                <div class="col-4">
                    <img style="height: 30x; width: 30px;" src="notificacion.png" alt="">
                </div>
            </div>
        </div>
    </header>

    <div class="middle">
        <h1> IuniTips</h1>
        <div class="container row iunitips">

            <div class="botonIuni row">
               <div class="col-3"> <img src="img/nafta.png" width="20" class="card-img-top" alt="..."></div>
                <div class="col-9"><h6 class="card-title text-left">Suba de combustible<br><span>Carga combustible hoy, mañana tendra una suba del 10%</span></h6></div>
            </div>

             <div class="botonIuni row">
               <div class="col-3"> <img src="img/granizo.png" width="20" class="card-img-top" alt="..."></div>
                <div class="col-9"><h6 class="card-title text-left">Alerta de granizo<br><span>Mañana el clima pronostica granizo. Ten en cuenta no dejarlo al aire libre</span></h6></div>
            </div>

             <div class="botonIuni row">
               <div class="col-3"> <img src="img/logro-multas.png" width="20" class="card-img-top" alt="..."></div>
                <div class="col-9"><h6 class="card-title text-left">Nuevas disposiciones<br><span>A partir del 5/07 no se podrá transitar de 10 a 17hs por la calle Corrientes.</span></h6></div>
            </div>

             <div class="botonIuni row">
               <div class="col-3"> <img src="img/logroAccidentes.png" width="20" class="card-img-top" alt="..."></div>
                <div class="col-9"><h6 class="card-title text-left">Tránsito<br><span>Intenta evitar la zona obelisco, habrá cortes durante el día.</span></h6></div>
            </div>

            



        </div>

    </div>
    <footer class="container  a-active">
            <div class="row text-center">
                <div class="col-6 button-P  a-inactive">
                    <a href="/home">
                        <h6>
                            Home
                        </h6>
                    </a>
                </div>
                <div class="col-6 button-H a-active">
                    <h6>
                        <a href="/perfil">
                            Mi perfil
                        </a>
    
                    </h6>
                </div>
            </div>
        </footer>

</body>

</html>