<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iunigo - Perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>

    <head>
        <div class="container main text-center  ">
            <div class="row  mb-3  ">
                <div class="col-4">
                    <img src="menu.png" alt="" class="barra">
                </div>
                <div class="col-4">
                    <img src="https://res.cloudinary.com/iunigo/image/upload/v1553707618/logos/logo-iunigo.svg"
                        alt="Logo iúnigo" class="logo">
                </div>
                <div class="col-4">
                    <img style="height: 30x; width: 30px;" src="notificacion.png" alt="">
                </div>
            </div>
        </div>
        <section class="middle">
            <h3 th:text="'¡Bienvenido ' + ${nombre} + '!'"></h3>
            <div class="carta-container">
                <a href="/logros">
                    <div class="carta ancho">
                        <img src="img/logros.png" class="card-img-top tamano" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Logros</h5>
                        </div>
                    </div>
                </a>
                <a href="/viajes">
                    <div class="carta ancho">
                        <img src="img/viajes.png" class="card-img-top tamano" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Viajes</h5>
                        </div>
                    </div>
                </a>
                <a href="/calendario">
                    <div class="carta ancho">
                        <img src="img/calendario.png" class="card-img-top tamano" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Calendario</h5>
                        </div>
                    </div>
                </a>

                <a href="/iunitips">
                    <div class="carta ancho">
                        <img src="img/iunitips.png" class="card-img-top tamano" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Iunitips</h5>
                        </div>
                    </div>
                </a>


            </div>
        </section>

    </head>
    <footer class="container  a-active">
        <div class="row text-center">
            <div class="col-6 button-P  a-inactive">
                <a href="/home">
                    <h6>
                        Home
                    </h6>
                </a>
            </div>
            <div class="col-6 button-H a-active">
                <h6>
                    <a href="/perfil">
                        Mi perfil
                    </a>

                </h6>
            </div>
        </div>
    </footer>

</body>

</html>